p {
  font-size: 17px;
  color:rgba(0,0,0,0.54);
}
section
{
  width: 340px;
  margin: auto;
  overflow: hidden;
}
a {
  text-decoration: none;
  color:#09a8f7;
}
form
{
  border: 1px solid #eee;
  padding: 10px;
}
#DB_GiveNowBTN
{
  background-color: rgb(63, 181, 82);
}
#DB_TellBTN, #DB_SaveLaterBTN
{
  color:rgba(33, 33, 33, 0.61);
  width:157px;
}
.md-bar.md-bar2
{
  background-color:rgb(255,87,34);
}
.md-container.md-mode-determinate
{
  background-color: rgb(238,238,238);
}
#DB_SaveLaterBTN
{
  margin-left: 3px;
}
#DB_TellBTN
{
  margin-right: 0;
}
